/* COMMON */
* {
  box-sizing: border-box;
  letter-spacing: 1.4px;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
}
/* display: none */
.hidden {
  display: none !important;
}
/* box style */
.shadowBox {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 2px 2px 0 #000;
}
/* Drop Menu */
.drop-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  font-size: 20px;
  line-height: 22px;
  ul {
    @extend %flexCenter;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  li {
    @extend %flexCenter;
    width: 100%;
    padding: 6px 30px;
    color: #000;
    &:hover {
      background: #000;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}
li.link {
  padding: 0 !important;
  a {
    width: 100%;
    padding: 6px 30px;
  }
}
