/* COMMON */
* {
  box-sizing: border-box;
  letter-spacing: 1.4px;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
button {
  cursor: pointer;
}
/* display: none */
.hidden {
  display: none !important;
}
/* box style */
.shadowBox {
  background-color: #fff;
  border: 2.5px solid #000;
  box-shadow: 2.5px 2.5px 0 #000;
}
/* Drop Menu */
.drop-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  font-size: 24px;
  line-height: 24px;
  ul {
    @extend %flexCenter;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  li {
    width: 100%;
    padding: 6px 30px 6px 15px;
    color: #000;
    &:hover {
      background: #000;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}
li.link {
  padding: 0 !important;
  a {
    width: 100%;
    padding: 6px 30px 6px 15px;
  }
}
/* button */
.btn {
  background: url('../images/screentone_2.jpg');
  border: 4px outset #cecece;
  padding: 8px 10px;
  margin-left: 6px;
  font-size: 24px;
  font-family: 'NeoDunggeunmo', 'VT323', monospace;
  color: #000;
  &:active {
    background: url('../images/screentone_3.jpg');
    border: 4px inset #cdcdcd;
  }
}
