%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%dropMenuContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  font-size: 20px;
  line-height: 20px;
}
