/* HEADER */
header {
  @extend %flexCenter;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-bottom: 2.4px solid #000;
  background: #fff;
  font-size: 23px;
}
header > ul {
  @extend %flexCenter;
  & > li {
    cursor: pointer;
  }
  /* Logo */
  li.logo-image {
    @extend %flexCenter;
    position: relative;
    .logo-png {
      height: 40px;
      width: 40px;
      background-image: url("../images/black_apple_logo.png");
      background-size: 23px;
      background-repeat: no-repeat;
      background-position: center;
    }
    > :nth-child(2) {
      display: inline-block;
      text-indent: -9999px;
    }
    .by-wuix {
      ul > :first-child {
        padding: 15px 10px 15px;
        border-bottom: 2px dotted #777;
        &:hover {
          > .ascii-art.drop-menu {
            display: block;
            width: 300px;
            top: -2px;
            left: 101%;
            background: url("../images/screentone_2.jpg");
            font-size: 10px !important;
            line-height: 1 !important;
            letter-spacing: 3.5px;
          }
        }
      }
      ul > :not(:last-child) {
        cursor: help;
        color: #cdcdcd;
        &:hover {
          background: none;
          color: #000;
        }
      }
    }
    &:hover {
      background: #000;
      .logo-png {
        background-image: url("../images/white_apple_logo.png");
        background-size: 23px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .by-wuix {
        display: block;
      }
    }
  }
  /* Menu */
  > li:not(.logo-image) {
    position: relative;
    height: 40px;
    padding: 3px 13px 0 13px;
    line-height: 40px;
    &:hover {
      background: #000;
      color: #fff;
      .drop-menu {
        display: block;
      }
    }
  }
}

#user-name {
  height: 40px;
  line-height: 40px;
  padding: 3px 13px 0 13px;
  text-align: right;
}
