header > ul {
  @extend %flexCenter;
  & > li {
    cursor: pointer;
  }
  /* Logo */
  li.logo-image {
    @extend %flexCenter;
    position: relative;
    .logo-png {
      height: 40px;
      width: 40px;
      background-image: url("../images/black_apple_logo.png");
      background-size: 23px;
      background-repeat: no-repeat;
      background-position: center;
    }
    > :nth-child(2) {
      display: inline-block;
      text-indent: -9999px;
    }
    .by-wuix {
      ul > :first-child {
        @extend %flexCenter;
        padding: 20px 0;
        border-bottom: 2px dotted #888;
        &:hover {
          .ascii-art {
            display: block;
            width: 300px;
            top: -1px;
            left: 100%;
            background: url("../images/screentone_2.jpg");
            pre {
              font-size: 10px;
              line-height: 1;
              letter-spacing: 3.5px;
            }
          }
        }
      }
      ul > :not(:last-child) {
        cursor: help;
        color: #888;
        &:hover {
          background: none;
          color: #000;
        }
      }
    }
    &:hover {
      background: #000;
      .logo-png {
        background-image: url("../images/white_apple_logo.png");
        background-size: 23px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .by-wuix {
        display: block;
      }
    }
  }
  /* Menu */
  > li:not(.logo-image) {
    position: relative;
    height: 40px;
    padding: 3px 13px 0 13px;
    line-height: 40px;
    &:hover {
      background: #000;
      color: #fff;
      .drop-menu {
        display: block;
      }
    }
  }
}

#user-name {
  height: 40px;
  line-height: 40px;
  padding: 3px 13px 0 13px;
  text-align: right;
}
