/* random msg icon */
.msg--icon {
  font-size: 24px;
  .random-msg {
    z-index: 9;
    position: absolute;
    bottom: 43px;
    right: 91px;
    width: max-content;
    padding: 10px 15px;
    text-align: right;
    color: #000;
  }
  .random-msg:after {
    content: "";
    position: absolute;
    right: 0;
    top: 70%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left-color: #000000;
    border-right: 0;
    border-bottom: 0;
    margin-top: -5px;
    margin-right: -13px;
  }
  .icon {
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    > img {
      position: absolute;
      top: 16%;
      left: 20%;
      width: 29px;
    }
  }
}
