@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    min-width: 380px;
    height: 100%;
  }
  header #user-name {
    display: none;
  }

  .todo-container {
    top: 50px;
    right: 20px;
    width: calc(100% - 40px);
    min-width: 300px;
    height: 55%;
  }
  .todo-container .todo__list-container {
    height: calc(100% - 95px);
    .todo-list {
      max-height: 100%;
      .todo-item {
        flex-direction: column;
        padding: 10px;
        width: 100%;
        height: auto;
        > span {
          font-size: 18px;
        }
        > .btn {
          width: 100%;
          margin-left: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  .today-container {
    width: 250px;
    height: 250px;
    .today__day-container {
      > * {
        font-size: 18px;
        height: auto;
        margin-bottom: 10px;
        padding: 10px;
      }
    }
  }

  .msg--icon {
    font-size: 18px;
    .random-msg {
      right: 95px;
      width: 73%;
    }
  }
}
