@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    min-width: 380px;
    height: 100%;
    border-radius:0;
  }

  header  {
    display: none;
  }

  .todo-container {
    top: 20px;
    right: 20px;
    width: calc(100% - 40px);
    min-width: 300px;
  }
  
  .todo-container .todo__list-container {
    .todo-list {
      max-height: calc(100vh - 450px;
      .todo-item {
        flex-direction: column;
        padding: 10px;
        width: 100%;
        height: auto;
        > span {
          padding: 5px 5px 10px;
          font-size: 18px;
        }
        > .btn {
          width: 100%;
          margin-left: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  .today-container {
    width: 250px;
    height: 250px;
    .today__day-container {
      > * {
        font-size: 18px;
        height: auto;
        margin-bottom: 10px;
        padding: 10px;
      }
    }
  }

  .msg--icon {
    font-size: 18px;
    .random-msg {
      right: 95px;
      width: fit-content;
      max-width: 70%;
    }
  }
}
