@import "_extends";

* {
  box-sizing: border-box;
}

body {
  @extend %flexCenter;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  font-weight: 400;
  font-family: "NeoDunggeunmo", "VT323", monospace;
  font-size: 16px;
}

.container {
  overflow: hidden;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  background-image: url("../images/screentine_3.jpg");
  background-size: cover;
}
