a, .drop-menu > ul, .drop-menu li, body, header, header > ul, header > ul li.logo-image, main .pop-up, main .pop-up .name-insert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  line-height: 20px;
}

/* COMMON */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
}

/* display: none */
.hidden {
  display: none !important;
}

/* box style */
.shadowBox {
  background-color: #fff;
  border: 2px solid #000;
  -webkit-box-shadow: 2px 2px 0 #000;
          box-shadow: 2px 2px 0 #000;
}

/* Drop Menu */
.drop-menu {
  display: none;
}

.drop-menu > ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.drop-menu li {
  width: 100%;
  padding: 5px 15px;
  cursor: pointer;
  color: #000;
}

.drop-menu li:hover {
  background: #000;
  color: #fff;
}

.drop-menu li:hover a {
  color: #fff;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  font-weight: 400;
  font-family: "NeoDunggeunmo", "VT323", monospace;
  font-size: 20px;
}

.container {
  overflow: hidden;
  width: 70%;
  height: 80%;
  min-width: 850px;
  min-height: 600px;
  border-radius: 15px;
  background-image: url("../images/screentone_3.jpg");
  background-size: 120%;
  position: relative;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-bottom: 2.4px solid #000;
  background: #fff;
  font-size: 23px;
}

header > ul {
  /* Logo */
  /* Menu */
}

header > ul > li {
  cursor: pointer;
}

header > ul li.logo-image {
  position: relative;
}

header > ul li.logo-image .logo-png {
  height: 40px;
  width: 40px;
  background-image: url("../images/black_apple_logo.png");
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}

header > ul li.logo-image > :nth-child(2) {
  display: inline-block;
  text-indent: -9999px;
}

header > ul li.logo-image .by-wuix ul > :first-child {
  padding: 15px 10px 15px;
  border-bottom: 2px dotted #777;
}

header > ul li.logo-image .by-wuix ul > :first-child:hover > .ascii-art.drop-menu {
  display: block;
  width: 300px;
  top: -2px;
  left: 101%;
  background: url("../images/screentone_2.jpg");
  font-size: 10px !important;
  line-height: 1 !important;
  letter-spacing: 3.5px;
}

header > ul li.logo-image .by-wuix ul > :not(:last-child) {
  cursor: help;
  color: #cdcdcd;
}

header > ul li.logo-image .by-wuix ul > :not(:last-child):hover {
  background: none;
  color: #000;
}

header > ul li.logo-image:hover {
  background: #000;
}

header > ul li.logo-image:hover .logo-png {
  background-image: url("../images/white_apple_logo.png");
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}

header > ul li.logo-image:hover .by-wuix {
  display: block;
}

header > ul > li:not(.logo-image) {
  position: relative;
  height: 40px;
  padding: 3px 13px 0 13px;
  line-height: 40px;
}

header > ul > li:not(.logo-image):hover {
  background: #000;
  color: #fff;
}

header > ul > li:not(.logo-image):hover .drop-menu {
  display: block;
}

#user-name {
  height: 40px;
  line-height: 40px;
  padding: 3px 13px 0 13px;
  text-align: right;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 10px 0;
}

/* user name input */
main .pop-up {
  width: 100%;
  height: 100%;
}

main .pop-up .name-insert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 10;
  width: 450px;
  height: 200px;
  background: #fff;
  font-size: 20px;
}

main .pop-up .name-insert > span {
  margin-bottom: 15px;
}

main .pop-up .name-insert #user-name-input {
  background: none;
  width: 300px;
  border: none;
  border-bottom: 2px dotted #777;
  outline: none;
  text-align: center;
  font-size: 23px;
  font-family: "NeoDunggeunmo", "VT323", monospace;
}

/* random msg icon */
main .msg--icon {
  font-size: 18px;
}

main .msg--icon .random-msg {
  position: absolute;
  bottom: 23px;
  right: 75px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px;
  text-align: right;
  color: #000;
}

main .msg--icon .random-msg:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #000000;
  border-right: 0;
  border-bottom: 0;
  margin-top: -5px;
  margin-right: -10px;
}

main .msg--icon .icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
}

main .msg--icon .icon > img {
  position: absolute;
  top: 16%;
  left: 20%;
  width: 29px;
}
