body, .container > header, .container > header ul, .container > header ul > li.logo-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  font-weight: 400;
  font-family: "NeoDunggeunmo", "VT323", monospace;
  font-size: 16px;
}

.container {
  overflow: hidden;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  background-image: url("../images/screentine_3.jpg");
  background-size: cover;
}

.container > header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  padding: 0 15px;
  border-bottom: 2.4px solid #000;
  background: #fff;
  font-size: 23px;
}

.container > header ul > li.logo-image:first-child {
  height: 30px;
  width: 40px;
  background-image: url("../images/black_apple_logo.png");
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}

.container > header ul > li.logo-image span:last-of-type {
  display: inline-block;
  text-indent: -9999px;
}

.container > header ul > li.logo-image:hover {
  background: #000;
}

.container > header ul > li.logo-image:hover:first-child {
  background-image: url("../images/white_apple_logo.png");
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
}

.container > header ul > li {
  line-height: 30px;
  padding: 3px 13px 0 13px;
}

.container > header ul > li:hover {
  background: #000;
  color: #fff;
}
